/* css for node philly live app
Author: Chatham Financial, Tim Savery, Brett Whitham;
*/
@charset "utf-8";

/* ==================================== Universals */

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;
	border:none;
}

html{
	overflow: hidden;
	background-image:
	-webkit-linear-gradient(
    	top, 
    	rgba(31, 35, 35, 1.0) 45%,
    	rgba(17, 19, 19, 0.5) 55%),
	-webkit-linear-gradient(
    	left, 
    	rgba(31, 35, 35, 0.3) 45%,
    	rgba(17, 19, 19, 0.3) 55%);
	background-size:5px 5px;
	background-position:top left;
	background-repeat:repeat;
	background-color:rgba(42, 49, 49, 1.0);
	/*overflow: hidden;*/
}

.clear {
	clear:both;
	display:block;
}

a, a:visited, a:hover, a:focus, a:active {
	text-decoration:none;
	color:rgba(122, 204, 200, 1.0);
}

img, a img {
	outline:none;
	border:none;
}

ul, li {
	list-style:none;
}

header, section, article, nav, footer, li, img{
	display:block;
}

::-moz-selection {
	background: #28cfbd;
	color: #000;
	text-shadow: none; 
}
::selection { 
	background: #28cfbd;
	color: #000;
	text-shadow: none;
}

/* ==================================== Typography */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height:2.2em;
	font-family:sans-serif;
	letter-spacing:0.1em;
}

h1, h2, h3, h4 {
	font-weight:normal;
}

h4 {
	font-size:1.8em;
	color:rgba(160, 185, 185, 1.0);
	text-shadow:0 -2px 1px #000;
}

p {
  font-size:1.2em;
  color:rgba(122, 204, 200, 1.0);
}

/* ==================================== skeleton */

html {
	width:100%;
	height:100%;
	padding:0 1% 0 1%;
}

body {
	height: 100%;
}

.col3 {
	width:33%;
	height:100%;	
	float:left;
    background-image: 
    -webkit-linear-gradient(
    	left, 
    	rgba(17, 19, 19, 1.0) 2%,
    	rgba(31, 35, 35, 1.0) 7%,
    	rgba(31, 35, 35, 1.0) 93%,
    	rgba(17, 19, 19, 1.0) 98%);
    border-right:rgba(52, 61, 61, 0.7) 1px solid;
    border-left:rgba(52, 61, 61, 0.7) 1px solid;
	overflow: hidden;
}

.col3:nth-child(2) {
	width:43%;
	margin:0 1% 0 1%;
}

.col3:nth-child(3) {
	width:22%;
}

/* ==================================== tiles */

section.tile {
	width: 90%;
	height:auto;
	
	margin:0 auto 25px auto;
	background:
	-webkit-linear-gradient(
		left,
		rgba(255, 255, 255, 0.0),
		rgba(0, 0, 0, 0.2) 25%,
		rgba(42, 49, 49, 1.0) 25.5%,
		rgba(255, 255, 255, 0.0) 26%
		),
	-webkit-linear-gradient(
    	top, 
    	rgba(77, 84, 84, 1.0) 1%,
    	rgba(52, 61, 61, 1.0) 2%,
    	rgba(52, 61, 61, 1.0) 50%,
    	rgba(42, 49, 49, 1.0) 100%);
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 1.0);
	border-radius:3px;
}

section.user-image {
	width:25%;
	height:100%;
	float:left;
	padding:15px;
}

section.user-image img {
	width:95%;
	height:auto;
	margin:0 auto 0 auto;
	border-radius:3px;
	-webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.6);
}

section.right {
	width:73%;
	height:auto;
	padding:10px;
	float: left;
	min-height:100%;
	margin:0 0 0 10px;
}


