section.col3
  - each card, idx in cards
    section.tile(id='card-#{idx}')
      img(src='#{card.user.avatar}')
      section.right
        h4= card.headline
        p #{card.user.name}
      .clear
section.col3
  &ensp;
section.col3
  &ensp;
script(src='/js/jquery.shuffle.js')
script(src='/js/index.js')