header
  .col3
  .col3
  .col3
section.col3(id='geeklist')
  &ensp;
section.col3(id='tweets')
  &ensp;
section.col3(id='sponsors')
  &ensp;
script(src='/socket.io/socket.io.js')
script(src='/js/Queue.compressed.js')
script(src='/js/index.js')