section.col3(id='geeklist')
  - each card, idx in geeklistcards
    section.tile(id='card-#{idx}', style='opacity:1.0')
      section.user-image
        img(src='#{card.user.avatar}')
      section.right
        h4= card.headline
        p #{card.user.name}
      .clear
section.col3
  &ensp;
section.col3
  &ensp;
script(src='/js/index.js')